<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>chekbox - Woops...</title>
  <link rel="stylesheet" href="/vendor/foundation-sites/dist/foundation.min.css" />
</head>

<body>

  <h2>{{title}}</h2>

  <pre>{{error}}</pre>

</body>

</html>