<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>chekbox - List of proposals</title>
  <link rel="stylesheet" href="/vendor/foundation-sites/dist/foundation.min.css" />
  <link rel="stylesheet" href="/vendor-raw/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>

<body>

  <div id="app"></div>
  <script src="/dist/bundle.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/what-input/what-input.min.js"></script>
  <script src="/vendor/foundation-sites/dist/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  
</body>

</html>